# This file is an example. The real .env will be created by init.sh.
HASURA_GRAPHQL_ADMIN_SECRET=changeme

# Port configuration (customize to run multiple instances)
POSTGRES_PORT=5432
HASURA_PORT=8081
